In [31]:
import numpy as np
import pandas as pd
import scipy.sparse as sp
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [32]:
fitdata = 'fitbit.csv'
fit_df = pd.read_csv(fitdata)

In [33]:
fit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

Este dataframe no me sirve, pues tiene < 2000 filas

In [34]:
propdata = 'properati.csv'
prop_df = pd.read_csv(propdata)

In [35]:
prop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14942 entries, 0 to 14941
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          14942 non-null  object
 1   created_on                  14942 non-null  object
 2   operation                   14942 non-null  object
 3   property_type               14942 non-null  object
 4   place_name                  14941 non-null  object
 5   place_with_parent_names     14942 non-null  object
 6   country_name                14942 non-null  object
 7   state_name                  14942 non-null  object
 8   geonames_id                 12623 non-null  float64
 9   lat-lon                     11966 non-null  object
 10  lat                         11966 non-null  float64
 11  lon                         11966 non-null  float64
 12  price                       13402 non-null  float64
 13  currency                    13402 non-null  object
 14  price_aprox_local_currency  13402 non-null  float64
 15  price_aprox_usd             13402 non-null  float64
 16  surface_total_in_m2         9751 non-null   float64
 17  surface_covered_in_m2       11698 non-null  float64
 18  price_usd_per_m2            8242 non-null   float64
 19  price_per_m2                10530 non-null  float64
 20  floor                       1355 non-null   float64
 21  rooms                       7591 non-null   float64
 22  expenses                    2107 non-null   float64
 23  properati_url               14942 non-null  object
 24  description                 14941 non-null  object
 25  title                       14942 non-null  object
 26  image_thumbnail             14751 non-null  object
dtypes: float64(13), object(14)
memory usage: 3.1+ MB

Este dataframe cumple los requisitos de la entrega de la 7ma clase

In [36]:
prop_df.head()

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,dffaf4b5bba246af564311bc8e581f46224fed90,2017-01-01,rent,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0054771,-57.5426106",...,NaN,NaN,NaN,NaN,2.0,NaN,http://www.properati.com.ar/14mlf_alquiler_dep...,IMPECABLE DPTO DE DOS AMBIENTES MUY BI8EN UBIC...,Departamento en Alq x Temp. Ambientes. Dormitorio,https://thumbs4.properati.com/0/WqpavvtP_gtEOK...
1,d3a5f126c11e1cbf1534216ed25d45098799f018,2017-01-01,rent,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-37.9963209,-57.5558638",...,NaN,NaN,NaN,NaN,3.0,NaN,http://www.properati.com.ar/14mlg_alquiler_dep...,LINDO DPTO DE TRES AMBIENTESCONSTA DE UN DORMI...,DPTO 3 AMBIENTES,https://thumbs4.properati.com/7/SDQAe2f69Ihyjp...
2,cf6dd05434caa0b5503d5df9e0380bfc589f955c,2017-01-01,rent,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-37.9986983,-57.5460176",...,NaN,NaN,NaN,NaN,2.0,NaN,http://www.properati.com.ar/14mlh_alquiler_dep...,DEPARTAMENTO DE DOS AMBIENTES EN ZONA CENTRICA...,Departamento en Alq x Temp. Ambientes. Dormitorio,https://thumbs4.properati.com/4/rHhuqZTQmZ1d_P...
3,e05c010cf14539bbdd9596a53968a17b8db221e9,2017-01-01,rent,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0059269,-57.5452554",...,NaN,NaN,NaN,NaN,2.0,NaN,http://www.properati.com.ar/14mlj_alquiler_dep...,DPTO DE DOS AMBIENTES CON DEPENDENCIACONSTA DE...,DPTO DOS AMB CON DEP,https://thumbs4.properati.com/8/-uxD57rdvO8ACl...
4,8d26cae995243aa7495daea5efcb5a6aa0212414,2017-01-01,rent,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0132211,-57.5354778",...,NaN,NaN,NaN,NaN,1.0,NaN,http://www.properati.com.ar/14mlk_alquiler_dep...,"HERMOSO DPTO DE UN AMBIENTE MUY AMPLIO , CONST...",DPTO UN AMB CON COCHERA,https://thumbs4.properati.com/2/bA4TmL-UGZWVcl...

In [61]:
prop_df.loc[prop_df['rooms'] < 13].groupby('rooms')['price'].mean()

rooms
1.0      8659.818117
2.0      8588.984564
3.0     13466.296189
4.0     19575.583232
5.0     23273.170029
6.0     22976.356589
7.0     29254.320988
8.0     25489.361702
9.0     29500.000000
10.0    38500.000000
11.0    23000.000000
12.0    28000.000000
Name: price, dtype: float64

VEMOS UNA RELACION CASI LINEAL ASCENDENTE ENTRE LA CANTIDAD DE HABITACIONES Y EL PRECIO


CON EL LOC QUITO LOS OUTLIERS


UN DATO IMPORTANTE A TENER EN CUENTA ES QUE EL VALOR DE LOS MONOAMBIENTES EN PROMEDIO ES MUY SIMILAR AL DE LOS DOS AMBIENTES

In [63]:
prop_df.groupby('state_name')['price'].mean().sort_values(ascending=False).head(7)

state_name
Bs.As. G.B.A. Zona Norte        20427.441309
Capital Federal                 18419.213695
Neuquén                         16237.500000
Bs.As. G.B.A. Zona Sur          14218.202358
Tierra Del Fuego                13385.294118
Buenos Aires Costa Atlántica    12985.541394
Río Negro                       12378.461538
Name: price, dtype: float64

TAMBIEN PODEMOS VER CUALES SON LAS ZONAS MAS CARAS EN PROMEDIO, LA ZONA NORTE DE BS.AS ES LA MAS CARA DEL DATAFRAME


IGUALMENTE HABRIA QUE DIVIDIR ESTOS DATOS POR LOS METROS CUADRADOS Y TENER EN CUENTA OTROS DATOS COMO LA CANTIDAD DE HABITACIONES PARA QUE ESTE DATO SEA MAS EXACTO

ES UN DATAFRAME INTERESANTE Y VEMOS QUE TIENE MUCHOS DATOS, IGUALMENTE HAY UN TEMA QUE TAMBIEN ME INTERESA QUE SON LOS SINIESTROS VIALES EN LA CIUDAD DE BUENOS AIRES, VEAMOS SI ESE DATAFRAME RESULTA MAS IMPORTANTE

In [64]:
siniestros = 'victimas-siniestros.csv'
sin_df = pd.read_csv(siniestros)

C:\Users\Sistemas\AppData\Local\Temp\ipykernel_20196\1239150759.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sin_df = pd.read_csv(siniestros)

In [65]:
sin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33234 entries, 0 to 33233
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   causa                         33234 non-null  object
 1   rol                           32899 non-null  object
 2   tipo                          32134 non-null  object
 3   sexo                          33037 non-null  object
 4   edad                          32675 non-null  float64
 5   mes                           33197 non-null  float64
 6   periodo                       33234 non-null  int64
 7   fecha                         33173 non-null  object
 8   hora                          33217 non-null  object
 9   lugar_hecho                   29518 non-null  object
 10  direccion_normalizada         32469 non-null  object
 11  tipo_calle                    33234 non-null  object
 12  direccion_normalizada_arcgis  32462 non-null  object
 13  calle1                        32469 non-null  object
 14  altura                        7111 non-null   float64
 15  calle2                        24987 non-null  object
 16  codigo_calle                  23944 non-null  float64
 17  codigo_cruce                  20709 non-null  float64
 18  geocodificacion               32139 non-null  object
 19  semestre                      33234 non-null  int64
 20  x                             32139 non-null  float64
 21  y                             32139 non-null  float64
 22  geom                          32139 non-null  object
 23  cantidad_victimas             33234 non-null  int64
 24  comuna                        32136 non-null  float64
 25  geom_3857                     32139 non-null  object
 26  tipo_colision1                31891 non-null  object
 27  participantes_victimas        32103 non-null  object
 28  participantes_acusados        32557 non-null  object
dtypes: float64(8), int64(3), object(18)
memory usage: 7.4+ MB

Este dataframe cumple los requisitos y parece tener información importante para sacar conjeturas sobre los siniestros viales en CABA

In [66]:
sin_df.value_counts('periodo')

periodo
2015    9903
2016    9880
2017    9742
2018    3709
dtype: int64

Veo que tengo data del 2015 al 2018, este ultimo año se ve que tiene solo unos meses cargados

In [67]:
sin_df.value_counts('cantidad_victimas')

cantidad_victimas
1     28436
2      3476
3       674
4       368
6       100
5        67
7        40
8        31
9        18
12       12
17        6
18        6
dtype: int64

In [68]:
sin_df['cant'] = 1
sin_df.groupby('mes')['cant'].sum()

mes
1.0     2744
2.0     2899
3.0     3403
4.0     3057
5.0     3565
6.0     2442
7.0     2417
8.0     2523
9.0     2476
10.0    2550
11.0    2623
12.0    2498
Name: cant, dtype: int64

VEO QUE EL MES CON MAS SINIESTROS ES ABRIL, SEGUIDO POR MARZO

In [69]:
sin_df.groupby('comuna')['cant'].sum()

comuna
1.0     4468
2.0     1263
3.0     3032
4.0     2382
5.0     1665
6.0     1272
7.0     2039
8.0     1402
9.0     2367
10.0    1681
11.0    2031
12.0    1784
13.0    1846
14.0    2383
15.0    2521
Name: cant, dtype: int64

ESTE ES UN FEATURE IMPORTANTE YA QUE PUEDO NOTAR QUE LA COMUNA MAS PELIGROSA EN ESTE SENTIDO ES LA COMUNA 1 
UN 50% MAS PELIGROSA QUE LA COMUNA 3, QUE ES LA QUE LE SIGUE EN PELIGROSIDAD

In [70]:
sin_df['tipo_calle'].value_counts()

avenida      21395
calle        11687
autopista      152
Name: tipo_calle, dtype: int64

In [71]:
sin_df.groupby(['tipo_calle','causa'])['cant'].sum()

tipo_calle  causa
autopista   homicidio       39
            lesiones       113
avenida     homicidio      295
            lesiones     21100
calle       homicidio      105
            lesiones     11582
Name: cant, dtype: int64

ACA ENCUENTRO QUE 'CAUSA' TAMBIEN ES UN FEATURE IMPORTANTE 
YA QUE EN CALLE Y AVENIDA TENEMOS UN 1% DE ACCIDENTES FATALES
PERO EN AUTOPISTA HAY UN 30% DE ACCIDENTES FATALES

In [72]:
sin_df.groupby('tipo_colision1')['cant'].sum()

tipo_colision1
bicicleta - bicicleta                 19
bicicleta - motovehiculo             193
bicicleta - peaton                   116
bicicleta - vehiculo                1384
motovehiculo - motovehiculo          622
motovehiculo - peaton               1429
motovehiculo - traccion a sangre       1
motovehiculo - tren                    1
motovehiculo - vehiculo             8400
multiple                            4285
peaton - peaton                       10
peaton - vehiculo                   4464
subte - vehiculo                       1
traccion a sangre - vehiculo           2
vehiculo - bicicleta                 394
vehiculo - motovehiculo             2995
vehiculo - peaton                   1191
vehiculo - vehiculo                 6384
Name: cant, dtype: int64

VEO QUE TIPO COLISION PUEDE SER UN FEATURE IMPORTANTE LUEGO DE UNA LIMPIEZA DE LA COLUMNA (O UNA SIMPLIFICACION), CASO SIMILAR AL DE LA HORA DEL SINIESTRO

In [73]:
#def simplificar_hora(serie):
#    solo_hora = []
#    for i in serie:
#
#       HACER
#
#       return solo_hora
#

In [74]:
#sin_df['solo_hora'] = sin_df['hora'].apply(simplificar_hora)
#sin_df.groupby(['tipo_calle','solo_hora'])['cant'].sum()

EN RESUMEN LOS FEATURES MAS IMPORTANTES DESDE MI PUNTO DE VISTA EN UN ANALISIS BASICO DEL DATAFRAME SON 'COMUNA', 'CAUSA' Y 'TIPO_CALLE'

HAY COLUMNAS QUE PODRIAN SER IMPORTANTES LUEGO DE UNA SIMPLIFICACION O LIMPIEZA PARA UN MAYOR ENTENDIMIENTO COMO 'HORA' Y 'TIPO_COLISION1'