In [1]:
import numpy as np
import pandas as pd
import scipy.sparse as sp
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib as mpl
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier

In [2]:
siniestros = 'victimas-siniestros.csv'
sin_df = pd.read_csv(siniestros)

C:\Users\Seguridad\AppData\Local\Temp\ipykernel_9564\1239150759.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sin_df = pd.read_csv(siniestros)

COMIENZA EL PROCESO DE LIMPIEZA DEL DATASET

In [3]:
sin_df.head(3)

,causa,rol,tipo,sexo,edad,mes,periodo,fecha,hora,lugar_hecho,...,semestre,x,y,geom,cantidad_victimas,comuna,geom_3857,tipo_colision1,participantes_victimas,participantes_acusados
0,homicidio,conductor,moto,NaN,NaN,2.0,2015,2/14/2015,19:00:00,cafayate y severo garcia grande de zequeira,...,1,-58.508658,-34.653489,0101000020E610000057E042B51B414DC008419885A553...,1,9.0,0101000020110F0000DE9B958180D858C1EC802966CD68...,motovehiculo - vehiculo,moto,automovil
1,homicidio,NaN,NaN,NaN,NaN,2.0,2015,2/25/2015,3:00:00,"lugones, leopoldo av. y udaondo, guillermo av.",...,1,-58.447680,-34.543513,0101000020E6100000CC4C4C904D394DC0FAF382D99145...,1,13.0,0101000020110F0000BFBC457BDFD158C1E1DDA818C14B...,NaN,NaN,NaN
2,homicidio,peaton,peaton,femenino,NaN,2.0,2015,2/27/2015,8:00:00,avda jujuy y avda independencia,...,1,-58.403516,-34.618839,0101000020E6100000FBC35B67A6334DC03F854E1F364F...,1,3.0,0101000020110F0000F8067D6812CD58C189755F66A55F...,peaton - vehiculo,peaton,"""transporte publico"""

In [4]:
sin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33234 entries, 0 to 33233
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   causa                         33234 non-null  object
 1   rol                           32899 non-null  object
 2   tipo                          32134 non-null  object
 3   sexo                          33037 non-null  object
 4   edad                          32675 non-null  float64
 5   mes                           33197 non-null  float64
 6   periodo                       33234 non-null  int64
 7   fecha                         33173 non-null  object
 8   hora                          33217 non-null  object
 9   lugar_hecho                   29518 non-null  object
 10  direccion_normalizada         32469 non-null  object
 11  tipo_calle                    33234 non-null  object
 12  direccion_normalizada_arcgis  32462 non-null  object
 13  calle1                        32469 non-null  object
 14  altura                        7111 non-null   float64
 15  calle2                        24987 non-null  object
 16  codigo_calle                  23944 non-null  float64
 17  codigo_cruce                  20709 non-null  float64
 18  geocodificacion               32139 non-null  object
 19  semestre                      33234 non-null  int64
 20  x                             32139 non-null  float64
 21  y                             32139 non-null  float64
 22  geom                          32139 non-null  object
 23  cantidad_victimas             33234 non-null  int64
 24  comuna                        32136 non-null  float64
 25  geom_3857                     32139 non-null  object
 26  tipo_colision1                31891 non-null  object
 27  participantes_victimas        32103 non-null  object
 28  participantes_acusados        32557 non-null  object
dtypes: float64(8), int64(3), object(18)
memory usage: 7.4+ MB

EN PRIMERA INSTANCIA DE LA EXPLORACION, VOY A ESTABLECER UN OBJETIVO GENERAL:

- QUIERO MINIMIZAR LA CANTIDAD DE ACCIDENTES DE AUTOS, MOTOS Y BICICLETAS (en este ejemplo me contratarÃ­a gobierno de la Ciudad de Buenos Aires). PARA ESTO HABRIA QUE TOMAR MEDIDAS DE TODO TIPO, COMO CONTROLES POLICIALES, CARTELES PREVENTIVOS, ARREGLOS DE CALLE, CAMARAS-MULTA, ETC.

-------------------------------------------------------------------------------------------------------------------------------

CON ESTE OBJETIVO EN MENTE, VOY A ELEGIR QUE COLUMNAS SON LAS QUE MAS INFORMACION PUEDEN APORTAR Y CUALES SON LAS QUE TIENEN INFORMACION REDUNDANTE.

EN UNA PRIMERA IMPRESION, ASUMO QUE LAS COLUMNAS MAS IMPORTANTES SON:

- causa
- rol
- tipo
- sexo
- edad
- fecha
- hora
- tipo_calle
- calle1
- calle2
- x
- y
- cantidad_victimas
- comuna
- participantes_victimas
- participantes_acusados

EL RESTO DE COLUMAS CONTIENEN INFORMACION QUE APARECE EN ESTAS COLUMNAS SELECCIONADAS, PERO EN OTRO FORMATO.

PROCEDO A QUEDARME SOLO CON LAS COLUMNAS ELEGIDAS Y REVISO LOS DATOS NULOS

In [5]:
sin_df = sin_df[['causa','rol','tipo','sexo','edad','fecha','hora','tipo_calle','calle1','calle2','x','y','cantidad_victimas','comuna','tipo_colision1','participantes_acusados','participantes_victimas']]
sin_df.isnull().sum()

causa                        0
rol                        335
tipo                      1100
sexo                       197
edad                       559
fecha                       61
hora                        17
tipo_calle                   0
calle1                     765
calle2                    8247
x                         1095
y                         1095
cantidad_victimas            0
comuna                    1098
tipo_colision1            1343
participantes_acusados     677
participantes_victimas    1131
dtype: int64

BORRO LAS FILAS QUE TIENEN EL CAMPO FECHA Y HORA VACIOS, PORQUE SON MUY POCOS DATOS QUE PIERDO.

In [6]:
sin_df.dropna(subset=['fecha','hora'],inplace=True)
sin_df[['fecha','hora']].isnull().sum()

fecha    0
hora     0
dtype: int64

AHORA VOY A SIMPLIFICAR LAS COLUMNAS 'tipo' Y 'tipo_colision1' PARA QUE SEAN UTILIZABLES.

In [7]:
sin_df['tipo_colision1'].fillna('sin_data',inplace=True)
sin_df['tipo'].fillna('sin_data',inplace=True)

def simplificar_tipocol(tipo):

    if '-' in tipo:
        ac, vi = tipo.split('-')
    else:
        return tipo
    
    if tipo == 'vehiculo - motovehiculo' or tipo == 'motovehiculo - vehiculo':
        return 'motovehiculo - vehiculo'
    elif tipo == 'vehiculo - peaton' or tipo == 'peaton - vehiculo':
        return 'peaton - vehiculo'
    elif tipo == 'vehiculo - bicicleta' or tipo == 'bicicleta - vehiculo':
        return 'bicicleta - vehiculo'
    elif tipo == 'traccion a sangre - vehiculo' or tipo == 'motovehiculo - traccion a sangre' or tipo == 'motovehiculo - tren' or tipo == 'subte - vehiculo':
        return 'sin_data'
    elif 'bicicleta' in tipo:
        return 'bicicleta'
    elif 'peaton' in tipo:
        return 'peaton'
    else:
        return tipo

def simplificar_tipo(tipo):
    
    if tipo == 'auto pfa / movil / gendarmeria / metropolitana / moto movil' or tipo == 'vehiculo oficial':
        st = 'fuerza seguridad'
    elif tipo == 'transporte de cargas / grua' or tipo == 'utilitario':
        st = 'camion'
    elif tipo == 'transporte escolar' or tipo == 'omnibus / minibus':
        st = 'transporte publico'
    elif tipo == 'ambulancia':
        st = 'camioneta'
    elif tipo == 'traccion a sangre' or tipo == 'autobomba' or tipo == 'patineta' or tipo == 'cuatriciclo' or tipo == 'tren / subte' or tipo == 'tren / subte / tranvia' or tipo == 'vehiculo rural' or tipo == 'otros':
        st = 'sin_data'
    else:
        return tipo
    return st

In [8]:
sin_df['tipo'] = sin_df['tipo'].apply(simplificar_tipo).astype('|S80')

sin_df['tipo_colision1'] = sin_df['tipo_colision1'].apply(simplificar_tipocol).astype('|S80')

sin_df[['tipo','tipo_colision1']].describe()

           tipo              tipo_colision1
count     33162                       33162
unique       10                           9
top     b'moto'  b'motovehiculo - vehiculo'
freq      12989                       11378

DEBERIA RELLENAR LOS NULOS DE 'tipo' CON INFORMACION DE OTRAS COLUMNAS PARA MEJORAR LA CALIDAD DE LA INFORMACION

AHORA VOY A RELLENAR LOS CAMPOS CON VALOR NULO

In [9]:
sin_df['comuna'].fillna(0,inplace=True)
sin_df['comuna'] = sin_df['comuna'].astype(int)

In [10]:
sin_df['rol'].fillna('sin_data',inplace=True)
sin_df['sexo'].fillna('sin_data',inplace=True)
sin_df['calle1'].fillna('sin_data',inplace=True)
sin_df['calle2'].fillna('sin_data',inplace=True)
sin_df['participantes_acusados'].fillna('sin_data',inplace=True)
sin_df['participantes_victimas'].fillna('sin_data',inplace=True)
sin_df['x'].fillna(-1,inplace=True)
sin_df['y'].fillna(-1,inplace=True)
sin_df['edad'].fillna(sin_df.edad.mean(),inplace=True)

EN LOS SIGUIENTES CASILLEROS VOY A LIMPIAR Y NORMALIZAR COLUMNAS

In [11]:
def normalizar_sexo(sexo):
    if sexo == 'masculino':
        return 1
    elif sexo == 'femenino':
        return 2
    else:
        return 0
    
sin_df['sexo'] = sin_df['sexo'].apply(normalizar_sexo)
sin_df.value_counts('sexo')

#masculino -> 1
#femenino -> 2
#sin data -> 0

sexo
1    22322
2    10647
0      193
dtype: int64

In [12]:
def edades(edad):
    rango = 0
    
    if (edad<20):
        rango=1
    elif (edad<40):
        rango=2
    elif (edad<60):
        rango=3
    else:
        rango=4
    return rango

sin_df['edad'] = sin_df['edad'].apply(edades)
sin_df.value_counts('edad')

#menor a 20 aÃ±os -> 1
#menor a 40 aÃ±os -> 2
#menor a 60 aÃ±os -> 3
#mayor a 60 aÃ±os -> 4

edad
2    19208
3     7427
4     3595
1     2932
dtype: int64

LE DOY UN FORMATO DESEADO A LA HORA Y FECHA

In [13]:
def extraer_hora(hora):
    return hora.hour

sin_df['hora'] = pd.to_datetime(sin_df['hora']).apply(extraer_hora)
sin_df['hora'] = sin_df['hora'].astype(int)
sin_df.value_counts('hora').head()

hora
18    2215
13    2186
14    2115
17    2106
12    2029
dtype: int64

In [14]:
def crear_fecha(fecha):

    if "/" in fecha:
        return fecha.split("/")
    elif "-" in fecha:
        return fecha.split("-")
        #aux = fecha[0]
        #fecha[0] = fecha[1]
        #fecha[1] = aux
        #return fecha

def limpiar_fecha(fecha):
    
    d = int(fecha[1])
    m = int(fecha[0])
    a = int(fecha[2])
    
    if a<2000:
        a = 2000+a
    
    if m>12:
        aux = m
        m = a
        a = aux
    
    return [d,m,a]

def dia(d):
    return d[0]

def mes(d):
    return d[1]

def anio(d):
    return d[2]

In [15]:
sin_df['fecha_norm'] = sin_df['fecha'].apply(crear_fecha)
sin_df['fecha_norm'] = sin_df['fecha_norm'].apply(limpiar_fecha)

sin_df['d'] = sin_df['fecha_norm'].apply(dia)
sin_df['m'] = sin_df['fecha_norm'].apply(mes)
sin_df['a'] = sin_df['fecha_norm'].apply(anio)

sin_df.drop(columns='fecha_norm',inplace=True)
sin_df.drop(columns='fecha',inplace=True)

sin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33162 entries, 0 to 33232
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   causa                   33162 non-null  object
 1   rol                     33162 non-null  object
 2   tipo                    33162 non-null  |S80
 3   sexo                    33162 non-null  int64
 4   edad                    33162 non-null  int64
 5   hora                    33162 non-null  int32
 6   tipo_calle              33162 non-null  object
 7   calle1                  33162 non-null  object
 8   calle2                  33162 non-null  object
 9   x                       33162 non-null  float64
 10  y                       33162 non-null  float64
 11  cantidad_victimas       33162 non-null  int64
 12  comuna                  33162 non-null  int32
 13  tipo_colision1          33162 non-null  |S80
 14  participantes_acusados  33162 non-null  object
 15  participantes_victimas  33162 non-null  object
 16  d                       33162 non-null  int64
 17  m                       33162 non-null  int64
 18  a                       33162 non-null  int64
dtypes: bytes640(2), float64(2), int32(2), int64(6), object(7)
memory usage: 9.4+ MB