In [56]:
import numpy as np
import pandas as pd
import scipy.sparse as sp
from datetime import datetime

import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib as mpl
import seaborn as sns

import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.decomposition import PCA

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import precision_score, accuracy_score, f1_score

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [57]:
train = 'train.csv'
test = 'test.csv'

train_df = pd.read_csv(train)

test_df = pd.read_csv(test)

In [58]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [59]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [60]:
train_df = train_df[['Id','MSSubClass','MSZoning','LotArea','Street','LotShape','Utilities','Condition1','Condition2','BldgType','OverallQual','OverallCond','YearBuilt','YearRemodAdd','RoofMatl','ExterQual','Exterior1st','MasVnrType','ExterCond','BsmtCond','TotalBsmtSF','HeatingQC','CentralAir','Electrical','GrLivArea','FullBath','HalfBath','BedroomAbvGr','KitchenAbvGr','KitchenQual','TotRmsAbvGrd','Functional','GarageArea','GarageQual','PavedDrive','PoolArea','MoSold','YrSold','SaleType','SaleCondition','SalePrice']]
test_df = test_df[['Id','MSSubClass','MSZoning','LotArea','Street','LotShape','Utilities','Condition1','Condition2','BldgType','OverallQual','OverallCond','YearBuilt','YearRemodAdd','RoofMatl','ExterQual','Exterior1st','MasVnrType','ExterCond','BsmtCond','TotalBsmtSF','HeatingQC','CentralAir','Electrical','GrLivArea','FullBath','HalfBath','BedroomAbvGr','KitchenAbvGr','KitchenQual','TotRmsAbvGrd','Functional','GarageArea','GarageQual','PavedDrive','PoolArea','MoSold','YrSold','SaleType','SaleCondition']]

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 41 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   Utilities      1460 non-null   object
 7   Condition1     1460 non-null   object
 8   Condition2     1460 non-null   object
 9   BldgType       1460 non-null   object
 10  OverallQual    1460 non-null   int64
 11  OverallCond    1460 non-null   int64
 12  YearBuilt      1460 non-null   int64
 13  YearRemodAdd   1460 non-null   int64
 14  RoofMatl       1460 non-null   object
 15  ExterQual      1460 non-null   object
 16  Exterior1st    1460 non-null   object
 17  MasVnrType     1452 non-null   object
 18  ExterCond      1460 non-null   object
 19  BsmtCond       1423 non-null   object
 20  TotalBsmtSF    1460 non-null   int64
 21  HeatingQC      1460 non-null   object
 22  CentralAir     1460 non-null   object
 23  Electrical     1459 non-null   object
 24  GrLivArea      1460 non-null   int64
 25  FullBath       1460 non-null   int64
 26  HalfBath       1460 non-null   int64
 27  BedroomAbvGr   1460 non-null   int64
 28  KitchenAbvGr   1460 non-null   int64
 29  KitchenQual    1460 non-null   object
 30  TotRmsAbvGrd   1460 non-null   int64
 31  Functional     1460 non-null   object
 32  GarageArea     1460 non-null   int64
 33  GarageQual     1379 non-null   object
 34  PavedDrive     1460 non-null   object
 35  PoolArea       1460 non-null   int64
 36  MoSold         1460 non-null   int64
 37  YrSold         1460 non-null   int64
 38  SaleType       1460 non-null   object
 39  SaleCondition  1460 non-null   object
 40  SalePrice      1460 non-null   int64
dtypes: int64(19), object(22)
memory usage: 467.8+ KB

In [61]:
train_df.fillna('NA',inplace=True)
test_df.fillna('NA',inplace=True)

In [62]:
train_df.isnull().sum().sum()

0

In [63]:
num_df = train_df.select_dtypes(include=['float', 'int'])
obj_df = train_df.select_dtypes(include=['object'])

t_num_df = test_df.select_dtypes(include=['float', 'int'])
t_obj_df = test_df.select_dtypes(include=['object'])

In [66]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

variables_normalizadas = scaler.fit_transform(num_df)
t_variables_normalizadas = scaler.fit_transform(t_num_df)

norm_df = pd.DataFrame(variables_normalizadas, columns=num_df.columns)
t_norm_df = pd.DataFrame(t_variables_normalizadas, columns=t_num_df.columns)

print(norm_df)

            Id  MSSubClass   LotArea  OverallQual  OverallCond  YearBuilt  \
0     0.000000    0.235294  0.033420     0.666667        0.500   0.949275
1     0.000685    0.000000  0.038795     0.555556        0.875   0.753623
2     0.001371    0.235294  0.046507     0.666667        0.500   0.934783
3     0.002056    0.294118  0.038561     0.666667        0.500   0.311594
4     0.002742    0.235294  0.060576     0.777778        0.500   0.927536
...        ...         ...       ...          ...          ...        ...
1455  0.997258    0.235294  0.030929     0.555556        0.500   0.920290
1456  0.997944    0.000000  0.055505     0.555556        0.625   0.768116
1457  0.998629    0.294118  0.036187     0.666667        1.000   0.500000
1458  0.999315    0.000000  0.039342     0.444444        0.625   0.565217
1459  1.000000    0.000000  0.040370     0.444444        0.625   0.673913

      YearRemodAdd  TotalBsmtSF  GrLivArea  FullBath  HalfBath  BedroomAbvGr  \
0         0.883333     0.140098   0.259231  0.666667       0.5         0.375
1         0.433333     0.206547   0.174830  0.666667       0.0         0.375
2         0.866667     0.150573   0.273549  0.666667       0.5         0.375
3         0.333333     0.123732   0.260550  0.333333       0.0         0.375
4         0.833333     0.187398   0.351168  0.666667       0.5         0.500
...            ...          ...        ...       ...       ...           ...
1455      0.833333     0.155974   0.247362  0.666667       0.5         0.375
1456      0.633333     0.252373   0.327619  0.666667       0.0         0.375
1457      0.933333     0.188543   0.377920  0.666667       0.0         0.500
1458      0.766667     0.176432   0.140166  0.333333       0.0         0.250
1459      0.250000     0.205565   0.173700  0.333333       0.5         0.375

      KitchenAbvGr  TotRmsAbvGrd  GarageArea  PoolArea    MoSold  YrSold  \
0         0.333333      0.500000    0.386460       0.0  0.090909    0.50
1         0.333333      0.333333    0.324401       0.0  0.363636    0.25
2         0.333333      0.333333    0.428773       0.0  0.727273    0.50
3         0.333333      0.416667    0.452750       0.0  0.090909    0.00
4         0.333333      0.583333    0.589563       0.0  1.000000    0.50
...            ...           ...         ...       ...       ...     ...
1455      0.333333      0.416667    0.324401       0.0  0.636364    0.25
1456      0.333333      0.416667    0.352609       0.0  0.090909    1.00
1457      0.333333      0.583333    0.177715       0.0  0.363636    1.00
1458      0.333333      0.250000    0.169252       0.0  0.272727    1.00
1459      0.333333      0.333333    0.194640       0.0  0.454545    0.50

      SalePrice
0      0.241078
1      0.203583
2      0.261908
3      0.145952
4      0.298709
...         ...
1455   0.194556
1456   0.243161
1457   0.321622
1458   0.148903
1459   0.156367

[1460 rows x 19 columns]

In [67]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for columna in obj_df:
    obj_df[columna] = encoder.fit_transform(obj_df[columna])

for columna in obj_df:
    t_obj_df[columna] = encoder.fit_transform(t_obj_df[columna])

# Muestra el DataFrame con las variables codificadas
print(obj_df)

      MSZoning  Street  LotShape  Utilities  Condition1  Condition2  BldgType  \
0            3       1         3          0           2           2         0
1            3       1         3          0           1           2         0
2            3       1         0          0           2           2         0
3            3       1         0          0           2           2         0
4            3       1         0          0           2           2         0
...        ...     ...       ...        ...         ...         ...       ...
1455         3       1         3          0           2           2         0
1456         3       1         3          0           2           2         0
1457         3       1         3          0           2           2         0
1458         3       1         3          0           2           2         0
1459         3       1         3          0           2           2         0

      RoofMatl  ExterQual  Exterior1st  ...  BsmtCond  HeatingQC  CentralAir  \
0            1          2           12  ...         4          0           1
1            1          3            8  ...         4          0           1
2            1          2           12  ...         4          0           1
3            1          3           13  ...         1          2           1
4            1          2           12  ...         4          0           1
...        ...        ...          ...  ...       ...        ...         ...
1455         1          3           12  ...         4          0           1
1456         1          3            9  ...         4          4           1
1457         1          0            5  ...         1          0           1
1458         1          3            8  ...         4          2           1
1459         1          2            6  ...         4          2           1

      Electrical  KitchenQual  Functional  GarageQual  PavedDrive  SaleType  \
0              5            2           6           5           2         8
1              5            3           6           5           2         8
2              5            2           6           5           2         8
3              5            2           6           5           2         8
4              5            2           6           5           2         8
...          ...          ...         ...         ...         ...       ...
1455           5            3           6           5           2         8
1456           5            3           2           5           2         8
1457           5            2           6           5           2         8
1458           0            2           6           5           2         8
1459           5            3           6           5           2         8

      SaleCondition
0                 4
1                 4
2                 4
3                 0
4                 4
...             ...
1455              4
1456              4
1457              4
1458              4
1459              4

[1460 rows x 22 columns]

In [77]:
train_df = pd.concat([obj_df, norm_df], axis=1)
test_df = pd.concat([t_obj_df, t_norm_df], axis=1)

In [85]:
X = train_df.drop(columns='SalePrice')
y = train_df['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(
                                        X,
                                        y.values.reshape(-1,1),
                                        train_size   = 0.7,
                                        random_state = 1234,
                                        shuffle      = True
                                    )

In [86]:
from sklearn.linear_model import LinearRegression

modeloLR = LinearRegression()
modeloLR.fit(X_train, y_train)

y_train_pred = modeloLR.predict(X_train)
y_test_pred = modeloLR.predict(X_test)

print("Predicciones:", y_test_pred)

Predicciones: [0.26410316 0.19975022 0.26986419 ... 0.3194003  0.13538338 0.16111109]

In [90]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_test_pred)
rmse = mean_squared_error(y_test, y_test_pred, squared=False)
r2 = r2_score(y_test, y_test_pred)

print("MSE:", mse)
print("RMSE:", rmse)
print("RÂ²:", r2)

MSE: 0.0015256668708445848
RMSE: 0.03905978585251825
RÂ²: 0.8413577854854589

In [ ]:
test_df.shape

(1459, 40)

In [83]:
X.shape

(1460, 40)